.App {
  text-align: center;
  /* display: flex; */
  /* flex-direction: column; */
  /* overflow: hidden; */
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.logo{
 color: darkslateblue;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.show1000{display: none;}
@media screen and (max-width: 1000px) {

  .sidebar{
    max-width: 50px;
  }
  .hide1000{
    display: none;
  }
  .show1000 {display: block;}
}

.sidebar{
  height: 100%;
  min-width: 50px;
}

table{

  border-collapse: collapse ;
  text-align: left;
  color: rgb(70, 70, 70);
  min-width: 10px;
}

th{
  background: darkslateblue;
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 300;

}
tbody{
  padding-top: 20px;
}
table tbody tr {
  /* background: red; */
  cursor: pointer;
  padding: 598px;
}
tbody td{
  padding: 5px;
}

.tess {
  overflow: hidden;
  overflow-y: scroll;
}